* A **function** is a block of **organized code** written to carry out a **specified task.** 

* Functions **help break our program into smaller and modular chunks for better readability.**

* Information can be passed into a function as **arguments.**

* **Parameters** are specified after the function name **inside the parentheses.**

* We can **add as many parameters as we want.**

* Parameters **must be separated with a comma**. 

* A function **may or may not return data.** In Python a function is defined using the **def keyword**

* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

# Parameter VS Argument

* **A parameter** is the variable l**isted inside the parentheses in the function definition.**

* A**n argument is the value that is sent to the function when it is called.**

**we have 3 types functions in python**

**Built-in function :-** Python predefined functions that are readily available for use like min() , max() , sum() , print() etc.

**User-Defined Functions:-** Function that we define ourselves to perform a specific task.

**Anonymous functions :** Function that is defined without a name. Anonymous functions are also called as lambda functions. They are not declared with the def keyword.

In [1]:
jagadeesh_list1=[1,2,4,55,65,44,35,66,75]
jagadeesh_list1

[1, 2, 4, 55, 65, 44, 35, 66, 75]

In [2]:
min(jagadeesh_list1)

1

In [3]:
max(jagadeesh_list1)

75

In [4]:
sum(jagadeesh_list1)

347

In [5]:
#user defined

In [6]:
def student_details(name,age,gender):
    print('Name-',name)
    print('Age-',age)
    print('gender-',gender)

In [7]:
student_details('Baman Jagadeesh',23,'Male')

Name- Baman Jagadeesh
Age- 23
gender- Male

In [8]:
var1 = 100 # Variable with Global scope.
def myfunc():
    var1 = 99 # Local scope print(var1)
myfunc()
print(var1) # The original value of var1 (100) will be retained due to global scope

100

In [9]:
jagadeesh_list1

[1, 2, 4, 55, 65, 44, 35, 66, 75]

In [10]:
def my_list(list1):
    del list1[0]

In [11]:
my_list(jagadeesh_list1)

In [12]:
jagadeesh_list1

[2, 4, 55, 65, 44, 35, 66, 75]

In [13]:
#sum of natural numbers
def sum(num):
    if num==0:
        return 0
    else:
        return num+sum(num-1)

In [14]:
sum(6)

21

In [15]:
#product of n natural numbers
def product(num):
    if num ==1:
        return 1
    else:
        return num *product(num-1)

In [16]:
product(6)

720

In [17]:
def fiboacci(num): 
    if num <= 1: 
        return num
    if num == 2: 
        return 1
    else: 
        return(fiboacci(num-1) + fiboacci(num-2)) 
    nums = int(input("How many fibonacci numbers you want to generate -"))
    
    
    
    
for i in range(8): 
    print(fiboacci(i)) # Generate Fibonacci series

0
1
1
2
3
5
8
13

**args & kwargs**

***args**

* When we **are not sure about the number of arguments being passed to a function** then we can use ***args as function** parameter. *args **allow us to pass the variable number of Non Keyword Arguments to function.** We can simply use an asterisk * before the parameter name to pass variable length arguments. **The arguments are always passed as a tuple.** We can **rename it to anything as long as it is preceded by a single asterisk (*).** It's best practice to keep naming it args to make it immediately recognizable.


****kwargs**

* **kwargs **allows us to pass the variable number of Keyword Arguments to the function.** We can simply use an **double asterisk** ** before the parameter name to pass variable length arguments. **The arguments are passed as a dictionary.** We can rename it to anything as long as it is preceded by a double asterisk (**). **It's best practice to keep naming it kwargs to make it immediately recognizable.**

In [2]:
def add1(*args): 
    return sum(args)
print(add1(1,2,3))

6

In [1]:
def add(*args): 
    return sum(args)
print(add(1,2,3)) 
print(add(1,2,3,4)) 
print(add(1,2,3,4,5)) 
print(add(1,2,3,4,5,6)) 
print(add(1,2,3,4,5,6,7))

6
10
15
21
28

In [26]:
def UserDetails(*args): 
    print(args)
UserDetails('jagadeesh' , 7680 , 9609 , 19 , 'India' , 'english')

#For the above example we have no idea about the parameters passed e.g 7412 , 41102 , 33 etc. 
# In such cases we can take help of Keyworded arguments (**kwargs)

('jagadeesh', 7680, 9609, 19, 'India', 'english')

In [27]:
def UserDetails(**kwargs): 
    print(kwargs)
UserDetails(Name='Jagadeesh' , ID=7680 , Pincode=9609 , Age= 19 , Country= 'India' , Language= 'english')

{'Name': 'Jagadeesh', 'ID': 7680, 'Pincode': 9609, 'Age': 19, 'Country': 'India', 'Language': 'english'}

In [28]:
def UserDetails(**kwargs): 
    for key,val in kwargs.items(): 
        print("{} :- {}".format(key,val))
UserDetails(Name='Jagadeesh' , ID=7680 , Pincode=9609 , Age= 19 , Country= 'India' , Language= 'english')

Name :- Jagadeesh
ID :- 7680
Pincode :- 9609
Age :- 19
Country :- India
Language :- english

In [31]:
mydict = {'Name':'Jagadeesh' , 'ID':7680 , 'Pincode':9609 , 'Age':19 , 'Country':'India' , 'Language':'english'} 
UserDetails(**mydict) #as we know that,**kwargs takes dict as arguments, whereas args takes tuple

Name :- Jagadeesh
ID :- 7680
Pincode :- 9609
Age :- 19
Country :- India
Language :- english

**Recursion**

* Python also accepts function recursion, **which means a defined function can call itself.**

In [38]:
def recursion1(num):
    if num>0:
        return num+recursion1(num-1)
    else:
        return 0
    return result

In [39]:
recursion1(8)

36

**lambda function**

* A lambda function is an **anonymous function (function without a name).**

*  lambda function **can take any number of arguments**, but can **only have one expression.**

* We use lambda functions when **we require a nameless function for a short period of time**

In [40]:
jagadeesh_lambda=lambda x: x+10           #this lambda function add 10 to each given input
print(jagadeesh_lambda(5))

15

In [49]:
product = lambda a, b : a * b 
print(product(5, 6))

30

In [5]:
args_example=(lambda *args:sum(args))
args_example(2,4,3)

9

In [53]:
#anthing which related to *args not coming in this.

In [6]:
# User defined function to find product of numbers 
def product(nums): 
    total = 1 
    for i in nums: 
        total *= i
        return total

In [8]:
product(3)

TypeError: 'int' object is not iterable

In [43]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

**Filter**

* It is used to filter **the iterables/sequence as per the conditions.** Filter **function filters the original iterable** and passes the items **that returns True for the function provided to filter.** It is normally **used with Lambda functions to filter list, tuple, or sets.**

**filter() method takes two parameters:**

* **function**
     - function tests if elements of an iterable returns true or false 
* **iterable**
     - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators

In [45]:
jagadeesh_list1

[2, 4, 55, 65, 44, 35, 66, 75]

In [59]:
odd_num = list(filter(lambda n: n%2 ==1 ,jagadeesh_list1))
odd_num

[55, 65, 35, 75]

In [64]:
#same thing in user defined function
def odd(n): 
    if n%2 ==1: 
        return True 
    else: 
        return False
odd_num = list(filter(odd,jagadeesh_list1)) # This Filter function filters list1 and passes all odd numbers to filter().
odd_num

[55, 65, 35, 75]

**Map**

* The **map() function** applies a given function to each item of an iterable (list, tuple etc.) and **returns a list of the results.** 

* **map() function takes two Parameters :**

* **function :**
       -The function to execute for each item of given iterable. iterable : It is a iterable which is to be mapped.
       
* **Returns :**
      -Returns a list of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [60]:
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all items of the list using lambda function.
doubles

[110, 130, 70, 150]

In [62]:
#same in user defind fiunction
def twice(n): 
    return n*2
doubles = list(map(twice,odd_num)) # The map function will apply user defined "twice()" function on all items of the list
doubles

[110, 130, 70, 150]

**Reduce**

* The **reduce() function** is defined in the functools python module.The reduce() function **receives two arguments**, a **function and an iterable**. However, **it doesn't return another iterable, instead it returns a single value.**


* **Working:**
* 1) Apply a function to the **first two items in an iterable and generate a partial result.**

* 2) The function is **then called again with the result obtained in step 1 and the next value in the sequence.** This process keeps on repeating **until there are items in the sequence.** 
* 3) The final returned result is **returned and printed on console.**

In [67]:
#The below reduce() function will perform sum of all items in the list using lambda function. 
sum_all = reduce(lambda a,b : a+b,jagadeesh_list1) 
sum_all

346

In [66]:
#same thing in user defined function

from functools import reduce
def add(a,b):
    return a+b
sum_all = reduce(add,jagadeesh_list1) # This reduce function will perform sum of all items in the list using user defined 
                                                                                                               #"add()
sum_all

346

In [68]:
# Putting all together
sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2 ==1 ,jagadeesh_list1)))))
sum_all

460