# Tuple


* Tuples are used to store multiple items in a single variable.

* Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* A tuple is a collection which is **ordered** and **unchangeable.**

* Tuples are written with **round brackets.**

**Tuple Items**

* Tuple items are **ordered**, **unchangeable**, and **allow duplicate values.**

* Tuple items are **indexed**, the **first item has index [0],** the **second item has index [1] etc.**

**Ordered**

* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [1]:
jagadeesh_tuple1=(33,4.5,'MBA')

In [2]:
jagadeesh_tuple1[1]=44

TypeError: 'tuple' object does not support item assignment

**Allow Duplicates**

* Since tuple are indexed, tuples can have items with the same value:

In [3]:
jagadeesh_tuple2=(22,22,'Jagadeesh')

In [5]:
jagadeesh_tuple2

(22, 22, 'Jagadeesh')

**Tuple Length**

* To determine how many items a tuple has, use the len() function:

In [6]:
len(jagadeesh_tuple2)

3

**Create Tuple With One Item**

* To create a tuple with only one item, you have to **add a comma after the item,** otherwise Python will not recognize it as a tuple.

In [17]:
jagadeesh_tuple3=('MBA')

In [18]:
type(jagadeesh_tuple3)

str

In [19]:
jagadeesh_tuple3=('MBA',)

In [21]:
type(jagadeesh_tuple3)

tuple

**Tuple Items - Data Types**

* it can takes  hrtrogrnrous data types

In [22]:
jagadeesh_tuple4=('MBA','NARENDER_SIR',96,8.30)

In [23]:
jagadeesh_tuple4

('MBA', 'NARENDER_SIR', 96, 8.3)

In [25]:
type(jagadeesh_tuple4)

tuple

**The tuple() Constructor**

* It is also possible to use the tuple() constructor to make a tuple.

In [27]:
jagadeesh_tuple4=tuple(('mba',96))

In [28]:
jagadeesh_tuple4

('mba', 96)

**TUPLE METHODS**

* Access Tuple
* Update Tuple
* Loop Tuple
* Join Tuple
* count()
* index()

In [29]:
#Access Tuple
jagadeesh_tuple4[1]

96

In [30]:
#Range of index is same as the Lists

**Update Tuples**
* Tuples are **unchangeable**, meaing that you **cannot change**, **add**, or **remove items** once the tuple is created.

* But there are some workarounds.

**Change Tuple Values**

* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
But there is a workaround. You **can convert the tuple into a list**, change the list, and **convert the list back into a tuple.**

In [31]:
jagadeesh_tuple5=(99,112,22,33)

In [34]:
jagadeesh_tuple5[1]=100

TypeError: 'tuple' object does not support item assignment

In [35]:
#Changing to list
jagadeesh_tuple5=list(jagadeesh_tuple5)

In [36]:
jagadeesh_tuple5[1]=100

In [37]:
jagadeesh_tuple5

[99, 100, 22, 33]

**Unpacking a Tuple**

* When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

* But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [38]:
#packing
jagadeesh_tuple6=(66,77,88)

In [42]:
#unpacking
((76,88,99))=jagadeesh_tuple7

SyntaxError: can't assign to literal (<ipython-input-42-0ec97a4e5d68>, line 2)

In [40]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Loop Through a Tuple**

* You can loop through the tuple items by using a for loop.

In [43]:
for i in jagadeesh_tuple6:
    print(i)

66
77
88

**Loop Through the Index Numbers**

* You can also loop through the tuple items by referring to their index number.

* Use the range() and len() functions to create a suitable iterable.

In [44]:
for i in range(len(jagadeesh_tuple6)):
    print(jagadeesh_tuple6[i])

66
77
88

**Using a While Loop**

* You can loop through the list items by using a while loop.

* Use the len() function to determine the length of the tuple, then **start at 0** and loop your way through the tuple items by refering to their indexes.

* **Remember to increase the index by 1 after each iteration.**

In [45]:
i = 0
while i < len(jagadeesh_tuple6):
    print(jagadeesh_tuple6[i])
    i+=1

66
77
88

In [46]:
i = 0
while i < len(jagadeesh_tuple6):
    print(jagadeesh_tuple6[i])
    i=i+1                         #evenr we can write like this both meaning same

66
77
88

**Join the tuple**

In [49]:
jagadeesh_tuple6

(66, 77, 88)

In [54]:
jagadeesh_tuple4

('mba', 96)

In [55]:
jagadeesh_tuple6+jagadeesh_tuple4

(66, 77, 88, 'mba', 96)

**Multiply Tuples**

* If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [56]:
jagadeesh_tuple4*2

('mba', 96, 'mba', 96)

**count()**

* Returns the number of times a specified value occurs in a tuple

In [57]:
jagadeesh_tuple4.count(3)

0

**index()**

* Searches the tuple for a specified value and returns the position of where it was found

In [61]:
jagadeesh_tuple4.index(96)

1