**Table of Content**
* def of for loop
* The break Statement
* The continue Statement
* The range() Function
* Else in For Loop
* Nested if in for loop
* The pass Statement
* enumerate()

**for loop**

* A **for loop** is used for **iterating** over a **sequence** (that is either a **list, a tuple, a dictionary, a set, or a string**).

* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [2]:
jagadeesh_list1=['MBA','CBIT',96,'bjagadeeshb786@gmail.com']
jagadeesh_list1

['MBA', 'CBIT', 96, 'bjagadeeshb786@gmail.com']

In [4]:
for i in jagadeesh_list1:
    print(i)

MBA
CBIT
96
bjagadeeshb786@gmail.com

In [5]:
for x in 'jagadeesh':
    print(x)

j
a
g
a
d
e
e
s
h

**The break Statement**

* With the break statement we can **stop the loop** before **it has looped through all the items:**

In [6]:
for i in jagadeesh_list1:
    print(i)
    if i==96:
        break

MBA
CBIT
96

In [12]:
for i in jagadeesh_list1:
    if i==96:
        break
    print(i)

MBA
CBIT

In [13]:
#when print() comes down then it excludes the value that we have entioned, if print comes up, then value is included

**The continue Statement**

* With the **continue statement** we can **stop the current iteration of the loop**, and **continue with the next:**

In [19]:
for i in jagadeesh_list1:
    if i == 96:
        continue
    print(i)

MBA
CBIT
bjagadeeshb786@gmail.com

**The range() Function**

* To loop through a set of code a specified number of times, we can use the **range() function,**

* The range() function **returns a sequence of numbers,** starting from **0 by default,** and increments by **1 (by default),** and **ends at a specified number.**

In [21]:
for i in range(6):
    print(i)

0
1
2
3
4
5

**Note that range(6) is not the values of 0 to 6, but the values 0 to 5.**

**The range() **function defaults to increment the sequence by **1**, however **it is possible to specify the increment value**  in a third parameter:

In [25]:
for i in range(2,30,5):#   paraeter1 reprasents-'starting-point,  'para-2:-'ENDPOINT',   &    PARA-3:- increment value 
    print(i)

2
7
12
17
22
27

**Else in For Loop**

* The **else keyword** in a **for loop** specifies a **block of code to be executed when the loop is finished:**

In [29]:
for i in jagadeesh_list1:
    print(i)
else:
    print('Reached end of the list')

MBA
CBIT
96
bjagadeeshb786@gmail.com
Reached end of the list

* **Note:** The else block will NOT be executed if the **loop is stopped by a break statement.**

In [32]:
jagadeesh_list1

['MBA', 'CBIT', 96, 'bjagadeeshb786@gmail.com']

In [35]:
for i in range(8):
    if i ==6:
        break
        print(i)
    else:
        print('excusuion has done')

excusuion has done
excusuion has done
excusuion has done
excusuion has done
excusuion has done
excusuion has done

In [39]:
for x in range(6):
    if x == 3:
        break
        print(x)
    else:
        print("Finally finished!")

Finally finished!
Finally finished!
Finally finished!

In [46]:
jagadeesh_list2=[1,2,3,5]
jagadeesh_list2

[1, 2, 3, 5]

**Nested if in for loop**

In [47]:
for x in jagadeesh_list1:
    for j in jagadeesh_list2:
        print(x,j)

MBA 1
MBA 2
MBA 3
MBA 5
CBIT 1
CBIT 2
CBIT 3
CBIT 5
96 1
96 2
96 3
96 5
bjagadeeshb786@gmail.com 1
bjagadeeshb786@gmail.com 2
bjagadeeshb786@gmail.com 3
bjagadeeshb786@gmail.com 5

**The pass Statement**
* **for loops cannot be empty,** but **if you for some reason have a for loop with no content,** put in the **pass statement** to **avoid getting an error.**

In [49]:
for i in [1,2,3]:
    pass

**enumerate()**

* enumerate() IN PYTHON is a **built-in function** used **for assigning an index** to each item of the iterable object.

In [50]:
jagadeesh_list1

['MBA', 'CBIT', 96, 'bjagadeeshb786@gmail.com']

In [52]:
for i,m in enumerate(jagadeesh_list1):
    print(i,m)

0 MBA
1 CBIT
2 96
3 bjagadeeshb786@gmail.com