# Strings

* Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [2]:
jagadeesh_str1='hello everyone'

In [3]:
print(jagadeesh_str1)

hello everyone

In [3]:
type(jagadeesh_str1)

str

**IMP ABOUT STRINGS**

* Slicing Strings
* modify Strings
* Concatenate Strings
* Format Strings
* Escape Characters
* Strings Methods(we have different methods we will discuess one-by-one)

**Slicing Strings**

* You can return a range of characters by using the slice syntax.

* Specify the start index and the end index, separated by a colon, to return a part of the string.

In [4]:
jagadeesh_str1[3:8]        #Note that Slicing takes sequere bracktes only

'lo ev'

In [5]:
jagadeesh_str1[3:]

'lo everyone'

In [6]:
jagadeesh_str1[:8]

'hello ev'

In [7]:
jagadeesh_str1[-8:-3]

'every'

* Python has a set of built-in methods that you can use on strings.

**Upper Case**

In [8]:
jagadeesh_str1

'hello everyone'

In [9]:
jagadeesh_str1.upper()

'HELLO EVERYONE'

**Lower Case**

In [10]:
jagadeesh_str1.lower()

'hello everyone'

**Remove Whitespace**

* Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

**The strip() method removes any whitespace from the beginning or the end:**

In [18]:
jagadeesh_str2='   Business Analytics   '

In [19]:
jagadeesh_str2.strip()

'Business Analytics'

**Replace String**

* The **replace() method** replaces a string with **another string:**

In [13]:
jagadeesh_str2.replace('A','a')

'   Business analytics   '

**Split String**

* The split() method returns a list where the text between the specified separator becomes the list items.


* The split() method splits the string into substrings if it finds instances of the separator:

In [14]:
jagadeesh_str3 = "Hello, World!"
print(jagadeesh_str3.split(","))

['Hello', ' World!']

In [15]:
jagadeesh_str1.split()

['hello', 'everyone']

**String Concatenation**

* To concatenate, or combine, two strings you can use the + operator.

In [21]:
jagadeesh_str1+jagadeesh_str3

'   Business Analytics   Hello, World!'

**To add a space between them, add a " "**

In [22]:
jagadeesh_str1+ "  " +jagadeesh_str3

'   Business Analytics     Hello, World!'

**String Format**

* As we learned in the Python Variables chapter, **we cannot combine strings and numbers:**

In [24]:
jagadeesh_str4=96
jagadeesh_str5='Iam Pursuing MBA and my roll no is' + jagadeesh_str4

TypeError: can only concatenate str (not "int") to str

* But we can **combine strings** and **numbers** by using the **format() method**

* The **format() method** takes the **passed arguments,** formats them, and places them in the string where the **placeholders {} are:**

* Use the format() method to insert numbers into strings:

In [27]:
jagadeesh_str4=96
jagadeesh_str5='Iam Pursuing MBA and my roll no is, {}'
print(jagadeesh_str5.format(jagadeesh_str4))

Iam Pursuing MBA and my roll no is, 96

* The **format() method** takes **unlimited number of arguments**, and are **placed into the respective placeholders:**

In [29]:
CGPA=8.08
jagadeesh_str4=96
jagadeesh_str6='Iam Pursuing MBA and my roll no is {} and my CGPA is {}'
print(jagadeesh_str6.format(jagadeesh_str4,CGPA))

Iam Pursuing MBA and my roll no is 96 and my CGPA is 8.08

In [30]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [32]:
jagadeesh_str6='Iam Pursuing MBA and my roll no is {0} and my CGPA is {1}'
print(jagadeesh_str6.format(jagadeesh_str4,CGPA))

Iam Pursuing MBA and my roll no is 96 and my CGPA is 8.08

**Escape Character**

* To insert characters that are illegal in a string, use an escape character.

* An escape character is a backslash \ followed by the character you want to insert.

* An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [34]:
#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

jagadeesh_str7 = "iam Living in "kamareddy" district"

SyntaxError: invalid syntax (<ipython-input-34-815ab821e97c>, line 3)

**To fix this problem, use the escape character \":**

In [37]:
#use escape ethod to overcome this problem
jagadeesh_str7 = "iam Living in \"kamareddy\" district"
jagadeesh_str7

'iam Living in "kamareddy" district'

**Other escape characters used in Python**

*  \' ------------Single Quote

*  \\-------------Backslash

*  \n-------------New Line

*  \r-------------Carriage Return

*  \t-------------Tab

*  \b-------------Backspace

*  \f-------------Form Feed

*  \ooo-----------Octal value

*  \xhh-----------Hex value

**String Methods**

* Python has a set of built-in methods that you can use on strings.

**capitalize()**
* Converts the first character to upper case

**casefold()**	
* Converts string into lower case

**center()**	
* Returns a centered string

**count()**	
* Returns the number of times a specified value occurs in a string

**encode()**	
* Returns an encoded version of the string

**endswith()**	
* Returns true if the string ends with the specified value

**expandtabs()**	
Sets the tab size of the string

**find()**	
* Searches the string for a specified value and returns the position of where it was found

**format()**	
* Formats specified values in a string

**format_map()**	
* Formats specified values in a string

**index()**	
* Searches the string for a specified value and returns the position of where it was found

**isalnum()**	
* Returns True if all characters in the string are alphanumeric

**isalpha()**	
* Returns True if all characters in the string are in the alphabet

**isdecimal()**	
* Returns True if all characters in the string are decimals

**isdigit()**	
* Returns True if all characters in the string are digits

**isidentifier()**	
* Returns True if the string is an identifier

**islower()**	
* Returns True if all characters in the string are lower case

**isnumeric()**	
* Returns True if all characters in the string are numeric

**isprintable()**	
* Returns True if all characters in the string are printable

isspace()	
* Returns True if all characters in the string are whitespaces

**istitle()**	
* Returns True if the string follows the rules of a title

**isupper()**	
* Returns True if all characters in the string are upper case

**join()**	
* Joins the elements of an iterable to the end of the string

**ljust()**	
* Returns a left justified version of the string

**lower()**	
* Converts a string into lower case

**lstrip()**	
* Returns a left trim version of the string

**maketrans()**	
* Returns a translation table to be used in translations

**partition()**	
* Returns a tuple where the string is parted into three parts

**replace()**	
* Returns a string where a specified value is replaced with a specified value

**rfind()**	
* Searches the string for a specified value and returns the last position of where it was found

**rindex()**	
* Searches the string for a specified value and returns the last position of where it was found

**rjust()**	
* Returns a right justified version of the string

**rpartition()**	
* Returns a tuple where the string is parted into three parts

**rsplit()**	
Splits the string at the specified separator, and returns a list

**rstrip()**	
* Returns a right trim version of the string

**split()**	
* Splits the string at the specified separator, and returns a list

**splitlines()**	
* Splits the string at line breaks and returns a list

**startswith()**	
* Returns true if the string starts with the specified value

**strip()**	
* Returns a trimmed version of the string

**swapcase()**	
* Swaps cases, lower case becomes upper case and vice versa

**title()**	
* Converts the first character of each word to upper case

**translate()**	
* Returns a translated string

**upper()**	
* Converts a string into upper case

**zfill()**	
* Fills the string with a specified number of 0 values at the beginning