**Set**

* Sets are used to **store multiple items in a single variable.**

* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

* A set is a collection which is both **unordered** and **unindexed.**

* Sets are written with **curly brackets.**

In [1]:
jagadeesh_set1={10,22,11,14}

In [2]:
jagadeesh_set1

{10, 11, 14, 22}

In [3]:
type(jagadeesh_set1)

set

**Set Items**

* Set items are **unordered**, **unchangeable**, and **do not allow duplicate values.**

**Unordered**

* Unordered means that the items in a set **do not have a defined order.**

* Set items can **appear in a different order every time you use them**, and **cannot be referred to by index or key.**

**Unchangeable**

* Sets are **unchangeable**, meaning that **we cannot change** the items after the set has been created.

In [4]:
jagadeesh_set2={1,2,3}
print(jagadeesh_set2)

{1, 2, 3}

In [5]:
jagadeesh_set2[2]=5

TypeError: 'set' object does not support item assignment

In [8]:
#set do not support item assignment because set is unordered

**Duplicates Not Allowed**

* Sets **cannot have two items with the same value.**

In [9]:
jagadeesh_set3={1,1,3}

In [10]:
jagadeesh_set3 #do not print orethan one time same value

{1, 3}

**Get the Length of a Set**

* To determine how many items a set has, use the **len() method.**

In [11]:
len(jagadeesh_set1)

4

**Set Items - Data Types**

* Set items can be of **any data type:**

In [12]:
jagadeesh_set4={1,2.5,False}

In [13]:
jagadeesh_set4

{False, 1, 2.5}

**The set() Constructor**

* It is also possible to use the set() constructor to make a set.

In [14]:
jagadeesh_set5=set((2,4,5))

In [15]:
jagadeesh_set5

{2, 4, 5}

In [16]:
type(jagadeesh_set5)

set

**Access Items**

* You **cannot access items in a set by referring to an index or a key.**

* But **you can loop through the set items using a for loop**, or **ask if a specified value is present in a set**, by using the **in** keyword.

In [17]:
4 in jagadeesh_set5

True

In [18]:
8 in jagadeesh_set5

False

**Add Items**

* Once a set is created, **you cannot change its items**, but **you can add new items.**
* To add one item to a set use the **add() method.**

In [19]:
#Note to add eleent in lists we use append() or insert() method
#in tapule to add elements first we need to change it to lists then need to add elements

In [20]:
jagadeesh_set1

{10, 11, 14, 22}

In [21]:
jagadeesh_set1.add(56)

In [22]:
jagadeesh_set1

{10, 11, 14, 22, 56}

**Add Sets**

* To **add** items from **another set into the current set**, use the **update() method.**

* in list we use **+** operator, in tuple is unchanged so we can not addd items

In [23]:
jagadeesh_set1

{10, 11, 14, 22, 56}

In [24]:
jagadeesh_set2

{1, 2, 3}

In [25]:
#adding sirst two sets items into single set
jagadeesh_set1.update(jagadeesh_set2)

In [28]:
jagadeesh_set1

{1, 2, 3, 10, 11, 14, 22, 56}

In [29]:
#Need to print 1st one so that we come to know its updated,and remember same thing for extend() ethos in lists

**Add Any Iterable**

* The object in the **update() method** does not have be a **set**, it **can be any iterable object (tuples, lists, dictionaries etc.).**

In [30]:
#Adding elements of lists to at set
jagadeesh_list1=[111,2111,311,5111]
jagadeesh_set1.update(jagadeesh_list1)

In [31]:
jagadeesh_set1

{1, 2, 3, 10, 11, 14, 22, 56, 111, 311, 2111, 5111}

**Remove Item**

* To **remove an item in a set**, use the **remove()**, or the **discard() method.**
* to remove an item in a **list** we use **pop()method**, tuple is unchanged

In [32]:
jagadeesh_set1

{1, 2, 3, 10, 11, 14, 22, 56, 111, 311, 2111, 5111}

In [33]:
jagadeesh_set1.remove(2111)

In [34]:
jagadeesh_set1

{1, 2, 3, 10, 11, 14, 22, 56, 111, 311, 5111}

In [35]:
jagadeesh_set1.discard(22)

In [36]:
jagadeesh_set1

{1, 2, 3, 10, 11, 14, 56, 111, 311, 5111}

* You can also use the **pop() method** to **remove an item**, but **this method will remove the last item.** Remember that **sets are unordered,** so you **will not know what item that gets removed.**

* The return value of the **pop() method is the removed item.**

In [37]:
jagadeesh_set1.pop()

1

In [38]:
jagadeesh_set1

{2, 3, 10, 11, 14, 56, 111, 311, 5111}

**clear()**

* The clear() method empties the set:

In [39]:
jagadeesh_set2

{1, 2, 3}

In [40]:
jagadeesh_set2.clear()

In [41]:
jagadeesh_set2

set()

**del set_name**

* delete the complite set

In [42]:
del jagadeesh_set2

In [43]:
jagadeesh_set2

NameError: name 'jagadeesh_set2' is not defined

**Loop Items**

* You can **loop** through the **set items** by using a **for loop:**
* like we did in lists,tuple

In [ ]:
for i in jagadeesh_set1:
    print(i)

**Join Two Sets**

* There are several ways to join two or more sets in Python.

* You can use the **union() method** that returns a new set containing **all items from both sets**, or the **update() method** that **inserts all the items from one set into another:**

* update() method we have seen before

In [44]:
jagadeesh_set1

{2, 3, 10, 11, 14, 56, 111, 311, 5111}

In [45]:
jagadeesh_set3

{1, 3}

In [46]:
jagadeesh_set1.union(jagadeesh_set3)

{1, 2, 3, 10, 11, 14, 56, 111, 311, 5111}

**intersection_update()**

* The intersection_update() method **will keep only the items that are present in both sets.**

In [47]:
jagadeesh_set1.intersection_update(jagadeesh_set3)

In [48]:
jagadeesh_set1

{3}

**intersection() method**

* The **intersection() method** will **return** a **new set**, that **only contains the items that are present in both sets**.

In [49]:
jagadeesh_set5={2,3,4,5}
jagadeesh_set6={3,41,5,2}

In [50]:
jagadeesh_set5.intersection(jagadeesh_set6)

{2, 3, 5}

**Keep All, But NOT the Duplicates**


* The **symmetric_difference_update() method** will **keep only the elements that are NOT present in both sets.**

In [51]:
jagadeesh_set5

{2, 3, 4, 5}

In [52]:
jagadeesh_set6

{2, 3, 5, 41}

In [53]:
jagadeesh_set5.symmetric_difference_update(jagadeesh_set6)

In [54]:
jagadeesh_set5

{4, 41}

In [55]:
jagadeesh_set7={5,44,41,665}

In [56]:
jagadeesh_set5.symmetric_difference(jagadeesh_set7)

{4, 5, 44, 665}

**Set Methods**

* Python has a set of **built-in methods** that you can use on **sets.**

**1.add()** 
* Adds an element to the set

**2.clear()**
* Removes all the elements from the set

**3.copy()**	
* Returns a copy of the set

**4.difference()**	
* Returns a set containing the difference between two or more sets

**5.difference_update()**	
Removes the items in this set that are also included in another, specified set

**6.discard()**	
Remove the specified item

**intersection()**	
Returns a set, that is the intersection of two other sets

**7.intersection_update()**	
Removes the items in this set that are not present in other, specified set(s)

**8.isdisjoint()**	
Returns whether two sets have a intersection or not

**9.issubset()**	
Returns whether another set contains this set or not

**10.issuperset()**	
Returns whether this set contains another set or not

**11.pop()**	
Removes an element from the set

**12.remove()**	
Removes the specified element

**13.symmetric_difference()**	Returns a set with the symmetric differences of two sets

**14.symmetric_difference_update()**	inserts the symmetric differences from this set and another

**15.union()**	Return a set containing the union of sets

**16.update()**	Update the set with the union of this set and others

**1.add()** 
* Adds an element to the set

In [58]:
jagadeesh_set1

{3}

In [59]:
jagadeesh_set1.add(7)
print(jagadeesh_set1)

{3, 7}

**2.clear()**
* Removes all the elements from the set

In [62]:
jagadeesh_set3

{1, 3}

In [63]:
jagadeesh_set3.clear()
print(jagadeesh_set3)

set()

**3.copy()**
* Returns a copy of the set

In [64]:
jagadeesh_set7=jagadeesh_set1.copy()
print(jagadeesh_set7)

{3, 7}


**4.difference()**
* Returns a set containing the difference between two or more sets

In [65]:
jagadeesh_set1

{3, 7}

In [67]:
jagadeesh_set4

{False, 1, 2.5}

In [68]:
jagadeesh_set1.difference(jagadeesh_set4)

{3, 7}

**5.difference_update()**

* Removes the items in this set that are also included in another, specified set

In [70]:
jagadeesh_set8={1,5,7}
print(jagadeesh_set4)

{False, 1, 2.5}

In [71]:
jagadeesh_set4.difference_update(jagadeesh_set8)

In [72]:
jagadeesh_set4

{False, 2.5}

**6.discard()**

* Remove the specified item

In [74]:
jagadeesh_set4.discard(False)
print(jagadeesh_set4)

{2.5}

**8.isdisjoint()**
* Returns whether two sets have a intersection or not

* The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

In [80]:
jagadeesh_set4

{2.5}

In [81]:
jagadeesh_set1

{3, 7}

In [75]:
jagadeesh_set4.isdisjoint(jagadeesh_set1)  #None of the items prasent in both sets

True

In [82]:
jagadeesh_set8={3,225,5,66}

In [83]:
jagadeesh_set1.isdisjoint(jagadeesh_set8) #we have 3 in common so isdisjoint print False

False

**9.issubset()**

* Returns whether another set contains this set or not
* The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [85]:
jagadeesh_set1

{3, 7}

In [86]:
jagadeesh_set8

{3, 5, 66, 225}

In [87]:
jagadeesh_set1.issubset(jagadeesh_set8) #we have only '3' in common so it returns False

False

In [88]:
jagadeesh_set9={1,2,3,4,5,6,7,8,9,10}

In [89]:
jagadeesh_set1.issubset(jagadeesh_set9) #in this we have all the elements that are in jagadeesh_set1

True

**10.issuperset()**
* Returns whether this set contains another set or not
* The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [90]:
jagadeesh_set1

{3, 7}

In [91]:
jagadeesh_set9

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [92]:
jagadeesh_set1.issuperset(jagadeesh_set9)

False

In [93]:
jagadeesh_set9.issuperset(jagadeesh_set1)

True

In [94]:
#Look at the difference B/W subset and superset,first set matters

**11.pop()**
* Removes an element from the set
* set is unindexd so pop() ethod removes any element from the specified set

In [97]:
jagadeesh_set6

{2, 3, 5, 41}

In [98]:
jagadeesh_set6.pop()

41

In [99]:
jagadeesh_set6

{2, 3, 5}

**12.remove()**
* Removes the specified element

In [103]:
jagadeesh_set7

{3, 7}

In [104]:
jagadeesh_set7.remove(3)
print(jagadeesh_set7)

{7}


**15.union()**
* Return a set containing the union of sets

* The union() method returns a set that **contains all items from the original set**, and **all items from the specified sets.**

* You can specify as many sets you want, **separated by commas.**

* If an item is **present in more than one set,** the **result will contain only one appearance of this item.**

In [105]:
jagadeesh_set10 = {"a", "b", "c"}
jagadeesh_set11  = {"f", "d", "a"}
jagadeesh_set12  = {"c", "d", "e"}

result = jagadeesh_set10 .union(jagadeesh_set11, jagadeesh_set12)

In [106]:
result

{'a', 'b', 'c', 'd', 'e', 'f'}

**16.update()**

* Update the set with the union of this set and others

* The update() method updates the **current set**, by **adding items from another set.**

* If an item is **present in both sets**, only **one appearance of this item will be present in the updated set.**

In [107]:
jagadeesh_set10.update(jagadeesh_set11)

In [108]:
jagadeesh_set10

{'a', 'b', 'c', 'd', 'f'}