**Python Collections (Arrays)**

* There are four collection data types in the Python programming language:

* **List** is a collection which is **ordered** and **changeable**. **Allows duplicate members.**

* **Tuple** is a collection which is **ordered** and **unchangeable**. **Allows duplicate members.**

* **Set** is a collection which is **unordered** and **unindexed.** **No duplicate members.**

* **Dictionary** is a collection which is **unordered** and **changeable**. **No duplicate members.**

* When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# List

* Lists are used to store multiple items in a single variable.

* Lists are one of 4 **built-in data types** in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

**Lists are created using square brackets:**

In [1]:
#Exaple
Jagadeesh_list=['MPC','MECs','Business Analytics']
print(Jagadeesh_list)

['MPC', 'MECs', 'Business Analytics']

In [2]:
#to cheack type use type

type(Jagadeesh_list)

list

**Few IMP Properties Of Lists**

**List Items**

* List items are **ordered**, **changeable**, and **allow duplicate values**.

* List items are **indexed**, the first item has index [0], the second item has index [1] etc.

**Ordered**

* When we say that lists are **ordered**, it means that the items have a **defined order**, and that order will not change.

* If you add new items to a list, the new items will be placed at the **end of the list.**

**Changeable**

* The list is **changeable**, meaning that **we can change**, **add**, and **remove items** in a list after it has been created.

**Allow Duplicates**

* Since lists are **indexed**, lists can have items with **the same value:**

**List Items - Data Types**

* List items can be of any data type:

In [8]:
#example

jagadeesh_list1=[8,8.1,True,'MBA']

In [9]:
print(jagadeesh_list1)

[8, 8.1, True, 'MBA']

In [10]:
type(jagadeesh_list1)

list

**The list() Constructor**

* It is also possible to use the list() constructor when creating a new list.

In [11]:
jagadeesh_list2=list(('MBA',96))#Note that bracket has changed

In [12]:
print(jagadeesh_list2)

['MBA', 96]

In [13]:
type(jagadeesh_list2)

list

**Access Items**

In [15]:
#print the 2nd ite in the list
jagadeesh_list1[1]

8.1

In [16]:
#nehative sign count from the last
jagadeesh_list1[-1]

'MBA'

In [17]:
jagadeesh_list1[-2]

True

In [18]:
#range
print(jagadeesh_list1[1:3])# Note that stating one is included and ending point is excluded.

[8.1, True]

In [24]:
#Negative range...same as the positive but do not included the n1 item.
print(jagadeesh_list1[-3:-1])

[8.1, True]

In [25]:
jagadeesh_list1[1:] #starts from included item

[8.1, True, 'MBA']

In [28]:
jagadeesh_list1[:3]# exclude now, 

#note:- is starting with row then include, ending with colun then esclude the item

[8, 8.1, True]

In [31]:
jagadeesh_list1[3]

'MBA'

**Cheack if exists**

In [35]:
if 'MBA' in jagadeesh_list1:
    print('yes')
else:
    print('no')

yes

In [36]:
#we will come to this statements in comming Notebooks

**Change Item Value**

In [37]:
jagadeesh_list1

[8, 8.1, True, 'MBA']

In [38]:
jagadeesh_list1[3]='MBA-B'

In [42]:
jagadeesh_list1

[8, 8.1, True, 'MBA-B']

**Change a Range of Item Values**

In [44]:
jagadeesh_list1[1:3]=9,8

In [45]:
jagadeesh_list1

[8, 9, 8, 'MBA-B']

In [46]:
#If you added morethan you specified then len will change but you wont get any error

In [47]:
jagadeesh_list1[1:2]='jaggu','Jagadeesh'

In [48]:
print(jagadeesh_list1)

[8, 'jaggu', 'Jagadeesh', 8, 'MBA-B']

In [55]:
#length has changed

Now We Will see **list functions** and **list Methods**

**List Function**

* len(list)
Gives the total length of the list.

* max(list)
Returns item from the list with max value.

* min(list)
Returns item from the list with min value.

* list(seq)
Converts a tuple into list.

In [57]:
jagadeesh_list1

[8, 'C', 'B', 'I', 'T', 8, 'MBA-B']

In [58]:
jagadeesh_list2

['MBA', 96]

In [66]:
jagadeesh_list3=[8,55,7,105,99]

In [67]:
len(jagadeesh_list1)

7

In [70]:
max(jagadeesh_list3) #values should contains siilar type in this case

105

In [71]:
min(jagadeesh_list3)

7

In [72]:
#creating a tuple
jagadeesh_tuple=(12,1121,111)# difference with list is tuple is unchanged

In [74]:
jagadeesh_tuple[1]=999

TypeError: 'tuple' object does not support item assignment

In [78]:
#converting it to list
changed_tuple=list(jagadeesh_tuple)
changed_tuple

[12, 1121, 111]

In [79]:
changed_tuple[1]=96

In [80]:
changed_tuple

[12, 96, 111]

**list methods**

* 1.list.append(obj)
Appends object obj to list

* 2 list.count(obj)
Returns count of how many times obj occurs in list

* 3	list.extend(seq)
Appends the contents of seq to list/Add the elements of a list(or any iterable), to the end of the current list 

* 4	list.index(obj)
Returns the lowest index in list that obj appears

* 5	list.insert(index, obj)
This method inserts the specified value at the specified position

* 6	list.pop(obj=list[-1])
Removes the element at the specified position, default position is last

* 7	list.remove(obj)
Removs the first item with the specified value

* 8	list.reverse()
Reverses the order of the list

* 9	list.sort([func])
Sorts objects of list, use compare func if given/sorts the list

* 10 copy()
return a copy of the list

* 11 clear()
Removes all the elements from the list

* 12 del list_name
deleting the list

* 13 list1+list2
joining the two list

**1.list.append()**

* -adds an eleent at the end of the list

In [82]:
#it takes value as the input
jagadeesh_list1

[8, 'C', 'B', 'I', 'T', 8, 'MBA-B']

In [83]:
jagadeesh_list1.append(3)

In [84]:
jagadeesh_list1

[8, 'C', 'B', 'I', 'T', 8, 'MBA-B', 3]

**list.count(obj)**
    
* Returns count of how many times obj occurs in list

In [85]:
jagadeesh_list1.count(8)

2

In [86]:
jagadeesh_list1.count('b')

0

**list.extend(seq)**

* Appends the contents of seq to list/Add the elements of a list(or any iterable), to the end of the current list

In [1]:
list11=[1,2,3,4]
list21=[5,6,7]

In [2]:
list11.extend(list21)
list11

[1, 2, 3, 4, 5, 6, 7]

**list.index(obj)**

* Returns the lowest index in list that obj appears means it returns the position at the first occurrence of the specified value

In [94]:
jagadeesh_list1

[8, 'C', 'B', 'I', 'T', 8, 'MBA-B', 3, 'MBA', 96, 'MBA', 96]

In [95]:
jagadeesh_list1.index(8)

0

**list.insert(index, obj)**

* This method inserts the specified value at the specified position

In [96]:
jagadeesh_list1.insert(1,'clg')

In [97]:
jagadeesh_list1

[8, 'clg', 'C', 'B', 'I', 'T', 8, 'MBA-B', 3, 'MBA', 96, 'MBA', 96]

**list.pop(position_of_elements)**

* Removes the element at the specified position, default position is last

In [99]:
jagadeesh_list1.pop(3)

'B'

In [100]:
jagadeesh_list1

[8, 'clg', 'C', 'I', 'T', 8, 'MBA-B', 3, 'MBA', 96, 'MBA', 96]

In [101]:
jagadeesh_list1.pop()  #default is last item

96

In [102]:
jagadeesh_list1

[8, 'clg', 'C', 'I', 'T', 8, 'MBA-B', 3, 'MBA', 96, 'MBA']

**list.remove(obj)**

* Removs the first item with the specified value

In [103]:
jagadeesh_list1.remove('MBA')

In [104]:
jagadeesh_list1

[8, 'clg', 'C', 'I', 'T', 8, 'MBA-B', 3, 96, 'MBA']

**List.reverse()**

* Reverses the order of the list

In [105]:
jagadeesh_list1.reverse()  #note that any ethods takes paranthesis only

In [106]:
jagadeesh_list1

['MBA', 96, 3, 'MBA-B', 8, 'T', 'I', 'C', 'clg', 8]

**list.sort([func])**

* Sorts objects of list, use compare func if given/sorts the list

In [108]:
list4=[44,2,55,7]

In [109]:
list4.sort()

In [111]:
list4   #Make sure that whrn you are sorting data in the list shouls have similar type

[2, 7, 44, 55]

In [112]:
jagadeesh_list1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

**copy()**

* return a copy of the list

In [114]:
x=jagadeesh_list1.copy()
x

['MBA', 96, 3, 'MBA-B', 8, 'T', 'I', 'C', 'clg', 8]

**clear()**

* Removes all the elements from the list

In [115]:
list2

[5, 6, 7]

In [116]:
list2.clear()

In [117]:
list2

[]

**del list_name**

* This will delete the entire list

In [118]:
del list2

In [119]:
list2

NameError: name 'list2' is not defined

In [120]:
#Practice challenges & quizes in the list

**Join Two List**

* -List1+List2

In [121]:
jagadeesh_list1+jagadeesh_list2

['MBA', 96, 3, 'MBA-B', 8, 'T', 'I', 'C', 'clg', 8, 'MBA', 96]